@import url('variables.css');

/* Supondo */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* Supondo */
.calendar {
    position: relative; /* O pop-up de adicionar evento no calendário é posicionado em relação a ele */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden; /* Impede rolagem vertical */
    overflow-x: hidden; /* Impede rolagem lateral */
}

.calendar-controls {
    position: absolute; /* Relativo ao .calendar-header */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.previous-month, .next-month {
    color: var(--calendar-title-color);
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.month {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.calendar-header {
    position: relative;
    padding: 0.7%;
    background-color: #383838;
}

.calendar-title {
    font-family: var(--calendar-title-font);
    font-size: 1em;
    color: var(--calendar-title-color);
}

.days-of-the-week-columns {
    display: flex;
}

.days-of-the-week, .days {
    flex: 1; /* Divide igualmente as colunas */
    color: var(--days-of-week-color);
    border: 1px solid var(--matrix-border-color); /* Borda para um efeito de matriz */
}

.days-of-the-week {
    background-color: var(--other-days-bg-color);
    font-family: var(--days-font);
}

.days {
    padding: 5px;
    background-color: var(--days-bg-color);
}

tbody {
    display: flex;
    flex-direction: column;
    height: 100%; /* Garante que o tbody ocupe a altura restante */
}

.days-line {
    display: flex;
    flex: 1; /* Divide igualmente as linhas do calendário */
}

.marked-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-number, .markers-container {
    pointer-events: none;   /* Evita que esses elementos "roubem" o evento de clique do seu pai */
}

.day-number {
    margin-right: auto;
    color: var(--days-of-week-color);
}

.markers-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3px;
    column-gap: 1px;
    grid-auto-flow: column dense; /* Preenche colunas da esquerda para a direita */
    margin-left: auto;
}

.marker {
    width: 7px;
    height: 7px;
    background-color: var(--yellow-marker-bg-color);
}